[project]
name = "i9wa4-github-io"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = "~=3.13.0"
dependencies = [
  "numpy",
  "pandas",
  "quarto-cli==1.8.25",
]
