name: GitHub Profile Summary Cards
run-name: ${{ github.event_name }} on ${{ github.ref_name }} by @${{ github.actor }}

on:
  workflow_dispatch:
  schedule:
    - cron: "20 14 * * *"  # 23:20 JST (14:20 UTC)

permissions: {}

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    name: generate-github-profile-summary-cards
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: github-profile-summary-cards
        uses: vn7n24fzkq/github-profile-summary-cards@f092803b7cfdd287113c13c44b3ed7c9129ab694 # release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          USERNAME: ${{ github.repository_owner }}
          UTC_OFFSET: 9
          EXCLUDE: "JavaScript,HTML,SCSS"
          AUTO_PUSH: false

      - name: Push to gh-summary
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./profile-summary-card-output
          publish_branch: gh-summary
          force_orphan: true
